### Importation des libraries

In [34]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Chargement des donnees

In [4]:
data_path = 'TP1/data/catdata.csv'
data = pd.read_csv(data_path, sep = ';')
df = data.copy()

### Exploration des donnees

In [6]:
df

    haircolor hairpattern     sex  weight  age foodtype
0         red    tortoise  female     3.7    7      dry
1       black      tipped    male     6.0    4      wet
2       black       tabby    male     5.4    4      dry
3       white       solid    male     5.0    4      dry
4       brown      tipped  female     3.3    6      dry
..        ...         ...     ...     ...  ...      ...
148       red    tortoise    male     3.7   10      dry
149     white       solid  female     4.5    5      dry
150     black       tabby  female     6.0    4      wet
151     white       tabby  female     5.3    8      dry
152     black       tabby  female     5.8   10      dry

[153 rows x 6 columns]

### Exploration des donnees

##### <i>Nbre des lignes, colonees, et la taille de la bd</i>

In [9]:
# la forme des donnees, le nombre des linges et colonnes

print(df.shape) # le nombres des lignes ert colonnes
print(df.size) # le nombre total d' elements dans le fichier

(153, 6)
918

##### <i>les variables</i>

In [18]:
df.columns.tolist()

['haircolor', 'hairpattern', 'sex', 'weight', 'age', 'foodtype']

##### <i>analyse des valeurs manquantes</i>

In [28]:
df.isna().sum() # le nombre des valeurs manquantes dans chaque colonnes

haircolor      0
hairpattern    0
sex            0
weight         0
age            0
foodtype       0
dtype: int64

In [32]:
df.describe(include = 'all')

       haircolor hairpattern   sex      weight         age foodtype
count        153         153   153  153.000000  153.000000      153
unique         4           5     2         NaN         NaN        3
top        black       tabby  male         NaN         NaN      dry
freq          68          58    85         NaN         NaN      109
mean         NaN         NaN   NaN    4.805882    6.333333      NaN
std          NaN         NaN   NaN    0.960827    2.752989      NaN
min          NaN         NaN   NaN    2.700000    2.000000      NaN
25%          NaN         NaN   NaN    4.100000    4.000000      NaN
50%          NaN         NaN   NaN    4.900000    6.000000      NaN
75%          NaN         NaN   NaN    5.600000    8.000000      NaN
max          NaN         NaN   NaN    6.800000   14.000000      NaN

### Indicateurs (Analyse Stats)

In [50]:
#Le nombre de personnes par sexe
df['sex'].value_counts()

sex
male      85
female    68
Name: count, dtype: int64

In [56]:
#Le nombre de personnes par haircolor
df['haircolor'].value_counts()

haircolor
black    68
red      35
white    33
brown    17
Name: count, dtype: int64

In [60]:
#Le nombre de personnes par hairpattern
df['hairpattern'].value_counts()

hairpattern
tabby         58
solid         31
tipped        27
tortoise      23
colorpoint    14
Name: count, dtype: int64

In [62]:
df

    haircolor hairpattern     sex  weight  age foodtype
0         red    tortoise  female     3.7    7      dry
1       black      tipped    male     6.0    4      wet
2       black       tabby    male     5.4    4      dry
3       white       solid    male     5.0    4      dry
4       brown      tipped  female     3.3    6      dry
..        ...         ...     ...     ...  ...      ...
148       red    tortoise    male     3.7   10      dry
149     white       solid  female     4.5    5      dry
150     black       tabby  female     6.0    4      wet
151     white       tabby  female     5.3    8      dry
152     black       tabby  female     5.8   10      dry

[153 rows x 6 columns]

In [ ]:
df